<table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0">
   <tbody>
      <tr>
         <td>
            <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
               <tbody>
                  <tr>
                     <td width="100%">
                        <table bgcolor="#ffffff" width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                           <tbody>
                              <tr>
                                 <td>
                                    
                                    <table width="298" align="left" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
                                       <tbody>
                                          <!-- Spacing -->
                                          <tr>
                                             <td width="100%" height="40" class="collapse-height-mob"></td>
                                          </tr>
                                          <!-- Spacing -->
                                          <tr>
                                             <td>
                                                
                                                <table width="280" align="left" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
                                                   <tbody>
                                                      
                                                   
                                                      <tr>
                                                         <td style="padding-right: 15px;" valign="top">
                                                          
                                                             <table width="100%" align="left" border="0" cellpadding="0" cellspacing="0" class="col-2-img-horizontal">
                                                                <tr>
                                                                 <td width="100%" align="center" class="devicewidth">
                                                                    <img class="col3banner" src="<%= baseUrl %>2-col-horizontal-1.jpg" alt="" border="0" width="75" style="border:none; outline:none; text-decoration:none; vertical-align:top;">
                                                                 </td>
                                                                 
                                                             </table>
                                                             
                                                         </td>
                                                         <td width="100%" align="right" class="devicewidth">
                                                            <table width="100%" align="left" border="0" cellpadding="0" cellspacing="0">
                                                               <tbody>
                                                                  <tr>
                                                                     <td>
                                                                        <table width="100%" align="right" border="0" cellpadding="0" cellspacing="0">
                                                                           <tbody>
                                                                              <tr>
                                                                                 <td align="left" valign="top" style="font-size:21px;font-family:arial;color:#666666;">Bali</td>
                                                                                    <td align="right" valign="middle">
                                                                                       <img src="<%= baseUrl %>hotel-icon.png" alt="" border="0" height="25" style="border:none; outline:none; text-decoration:none;">
                                                                                    </td>
                                                                              </tr>
                                                                           </tbody>
                                                                        </table>
                                                                     </td>
                                                                  </tr>
                                                                  <tr>
                                                                     <td align="left" valign="middle" style="font-size:11px;font-family:arial;color:#A2A2A2;">TWO NIGHTS FREE</td>
                                                                  </tr>
                                                                  <!-- Spacing -->
                                                                  <tr>
                                                                     <td width="100%" height="5" class="collapse-height-10"></td>
                                                                  </tr>
                                                                  <!-- Spacing -->
                                                                  <tr>
                                                                     <td>
                                                                        <table width="100%" align="left" border="0" cellpadding="0" cellspacing="0">
                                                                           <tbody>
                                                                              <tr>
                                                                                 <td align="left" valign="middle" style="font-size:24px;font-family:arial;color:#F58227;"><sup style="font-size:14px;">$</sup>405<sup style="font-size:14px;">*</sup> <span style="font-size:12px;font-family:arial;color:#A2A2A2;">p/n</span></td>
                                                                                 <td align="right" valign="middle">
	                                                                                 <a href="#"><img src="<%= baseUrl %>btn-book-now-small.png" alt="" border="0" width="100" height="30" style="border:none; outline:none; text-decoration:none;"></a>
                                                                                 </td>
                                                                              </tr>
                                                                           </tbody>
                                                                        </table>
                                                                     </td>
                                                                  </tr>
                                                               </tbody>
                                                            </table>
                                                         </td>
                                                      </tr>
                                                   </tbody>
                                                </table>
                                             </td>
                                          </tr>

                                          
                                          
                                       </tbody>
                                    </table>

                                    <table width="298" align="right" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
                                       <tbody>
                                          <!-- Spacing -->
                                          <tr>
                                             <td width="100%" height="40" class="collapse-height-mob"></td>
                                          </tr>
                                          <!-- Spacing -->
                                          <tr>
                                             <td>
                                                
                                                <table width="280" align="right" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
                                                   <tbody>
                                                      
                                                   
                                                      <tr>
                                                         <td style="padding-right: 15px;" valign="top">
                                                          
                                                             <table width="100%" align="left" border="0" cellpadding="0" cellspacing="0" class="col-2-img-horizontal">
                                                                <tr>
                                                                 <td width="100%" align="center" class="devicewidth">
                                                                    <img class="col3banner" src="<%= baseUrl %>2-col-horizontal-2.jpg" alt="" border="0" width="75" style="border:none; outline:none; text-decoration:none; vertical-align:top;">
                                                                 </td>
                                                                 
                                                             </table>
                                                             
                                                         </td>
                                                         <td width="100%" align="right" class="devicewidth">
                                                            <table width="100%" align="left" border="0" cellpadding="0" cellspacing="0">
                                                               <tbody>
                                                                  <tr>
                                                                     <td>
                                                                        <table width="100%" align="right" border="0" cellpadding="0" cellspacing="0">
                                                                           <tbody>
                                                                              <tr>
                                                                                 <td align="left" valign="top" style="font-size:21px;font-family:arial;color:#666666;">Los Angeles</td>
                                                                                    <td align="right" valign="middle">
                                                                                       <img src="<%= baseUrl %>icon-flight.png" alt="" border="0" height="25" style="border:none; outline:none; text-decoration:none;">
                                                                                    </td>
                                                                              </tr>
                                                                           </tbody>
                                                                        </table>
                                                                     </td>
                                                                  </tr>
                                                                  <tr>
                                                                     <td align="left" valign="middle" style="font-size:11px;font-family:arial;color:#A2A2A2;">ONE WAY EX SYDNEY</td>
                                                                  </tr>
                                                                  <!-- Spacing -->
                                                                  <tr>
                                                                     <td width="100%" height="5" class="collapse-height-10"></td>
                                                                  </tr>
                                                                  <!-- Spacing -->
                                                                  <tr>
                                                                     <td>
                                                                        <table width="100%" align="left" border="0" cellpadding="0" cellspacing="0">
                                                                           <tbody>
                                                                              <tr>
                                                                                 <td align="left" valign="middle" style="font-size:24px;font-family:arial;color:#F58227;"><sup style="font-size:14px;">$</sup>405<sup style="font-size:14px;">*</sup> <span style="font-size:12px;font-family:arial;color:#A2A2A2;">p/p</span></td>
                                                                                 <td align="right" valign="middle">
                                                                                    <a href="#"><img src="<%= baseUrl %>btn-book-now-small.png" alt="" border="0" width="100" height="30" style="border:none; outline:none; text-decoration:none;"></a>
                                                                                 </td>
                                                                              </tr>
                                                                           </tbody>
                                                                        </table>
                                                                     </td>
                                                                  </tr>
                                                               </tbody>
                                                            </table>
                                                         </td>
                                                      </tr>
                                                   </tbody>
                                                </table>
                                             </td>
                                          </tr>

                                          
                                          
                                       </tbody>
                                    </table>
  
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
   </tbody>
</table>
