<table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" >
   <tbody>
      <tr>
         <td>
            <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
               <tbody>
                  <tr>
                     <td width="100%">
                        <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                           <tbody>
                              <!-- Spacing -->
                              <tr>
                                 <td width="100%" height="40"></td>
                              </tr>
                              <!-- Spacing -->

                              <tr>
                                 <td>
                                    <table width="100%" align="left" border="0" cellpadding="0" cellspacing="0">
                                       <tbody>
                                          <tr>
                                             <td align="left" style="font-family: arial, sans-serif, helvetica; font-size: 34px;line-height: 34px;font-weight:normal;color:#656565;text-align:left;margin:0;">
                                                Best Fares to Bali
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                    
                                 </td>
                              </tr>
                             
                              <tr>
                                 <td width="100%" height="10"></td>
                              </tr>
                              <tr>
                                 <td width="100%" height="1" bgcolor="#e5e5e5" style="font-size: 0%;"><img border="0" width="100%" height="1" src="<%= baseUrl %>spacer-1.gif" style="display: block; font-size: 0%;" /></td>
                              </tr>

                              
                              <tr>
                                 <td width="100%" height="5"></td>
                              </tr>
                              

                              <tr>
                                 <td>
                                    <table width="100%" align="left" border="0" cellpadding="0" cellspacing="0">
                                       <tbody>
                                          <tr>
                                             <td width="30%" align="left" style="font-family: arial, sans-serif, helvetica; font-size: 11px;line-height: 11px;font-weight:normal;color:#a1a1a1;text-align:left;margin:0;">
                                                <span>CARRIER</span>
                                             </td>

                                             <td width="35%" align="center" style="font-family: arial, sans-serif, helvetica; font-size: 11px;line-height: 11px;font-weight:normal;color:#a1a1a1;text-align:center;margin:0;">
                                                DATES
                                             </td>

                                             <td width="35%" align="right" style="font-family: arial, sans-serif, helvetica; font-size: 11px;line-height: 11px;font-weight:normal;color:#a1a1a1;text-align:right;margin:0;">
                                                RETURN FROM
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                    
                                 </td>
                              </tr>

                              
                              <tr>
                                 <td width="100%" height="5"></td>
                              </tr>
                              

                              <tr>
                                 <td width="100%" height="1" bgcolor="#e5e5e5" style="font-size: 0%;"><img border="0" width="100%" height="1" src="<%= baseUrl %>spacer-1.gif" style="display: block; font-size: 0%;" /></td>
                              </tr>

                              
                              <tr>
                                 <td width="100%" height="5"></td>
                              </tr>
                              

                              <tr>
                                 <td>
                                    <table width="100%" align="left" border="0" cellpadding="0" cellspacing="0">
                                       <tbody>
                                          <tr>
                                             <td width="30%" align="left" style="font-family: arial, sans-serif, helvetica; font-size: 11px;line-height: 11px;font-weight:normal;color:#a1a1a1;text-align:left;margin:0;">
                                                <img width="30" height="20" src="<%= baseUrl %>icon-carrier-etihad.png" />
                                             </td>

                                             <td width="35%" align="center" style="font-family: arial, sans-serif, helvetica; font-size: 12px;line-height: 12px;font-weight:normal;color:#656565;text-align:center;margin:0;">
                                                9 Feb 15 to 31 Dec 15
                                             </td>

                                             <td width="35%" align="right" style="font-size:24px;font-family:arial;color:#F58227;">
                                                <table width="100%" align="left" border="0" cellpadding="0" cellspacing="0">
                                                   <tbody>
                                                      <tr>
                                                         <td align="right">
                                                            <a href="#" style="text-decoration:none;color:#F58227 font-size:24px;font-family:arial;color:#F58227;">
                                                               <sup style="font-size:14px;">$</sup><span style="font-size:24px;">1205</span><sup style="font-size:14px;">*</sup>
                                                            </a>
                                                         </td>   
                                                      </tr>

                                                      <tr>
                                                         <td align="right">
                                                            <span valign="top" style="vertical-align:top; font-size:12px;font-family:arial;color:#A2A2A2;">EX BRI</span>
                                                         </td>   
                                                      </tr>
                                                   </tbody>
                                                </table>
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                    
                                 </td>
                              </tr>

                              
                              <tr>
                                 <td width="100%" height="10"></td>
                              </tr>
                              

                              <tr>
                                 <td>
                                    <table width="100%" align="left" border="0" cellpadding="0" cellspacing="0">
                                       <tbody>
                                          <tr>
                                             <td width="30%" align="left" style="font-family: arial, sans-serif, helvetica; font-size: 11px;line-height: 11px;font-weight:normal;color:#a1a1a1;text-align:left;margin:0;">
                                                <img width="30" height="20" src="<%= baseUrl %>icon-carrier-jetstar.png" />
                                             </td>

                                             <td width="35%" align="center" style="font-family: arial, sans-serif, helvetica; font-size: 12px;line-height: 12px;font-weight:normal;color:#656565;text-align:center;margin:0;">
                                                9 Feb 15 to 31 Dec 15
                                             </td>

                                             <td width="35%" align="right" style="font-size:24px;font-family:arial;color:#F58227;">
                                                <table width="100%" align="left" border="0" cellpadding="0" cellspacing="0">
                                                   <tbody>
                                                      <tr>
                                                         <td align="right">
                                                            <a href="#" style="text-decoration:none;color:#F58227 font-size:24px;font-family:arial;color:#F58227;">
                                                               <sup style="font-size:14px;">$</sup><span style="font-size:24px;">295</span><sup style="font-size:14px;">*</sup>
                                                            </a>
                                                         </td>   
                                                      </tr>

                                                      <tr>
                                                         <td align="right">
                                                            <span valign="top" style="vertical-align:top; font-size:12px;font-family:arial;color:#A2A2A2;">EX SYD</span>
                                                         </td>   
                                                      </tr>
                                                   </tbody>
                                                </table>
                                             </td>

                                          </tr>
                                       </tbody>
                                    </table>
                                    
                                 </td>
                              </tr>

                              
                              <tr>
                                 <td width="100%" height="10"></td>
                              </tr>
                              

                              <tr>
                                 <td>
                                    <table width="100%" align="left" border="0" cellpadding="0" cellspacing="0">
                                       <tbody>
                                          <tr>
                                             <td width="30%" align="left" style="font-family: arial, sans-serif, helvetica; font-size: 11px;line-height: 11px;font-weight:normal;color:#a1a1a1;text-align:left;margin:0;">
                                                <img width="30" height="20" src="<%= baseUrl %>icon-carrier-virgin.png" />
                                             </td>

                                             <td width="35%" align="center" style="font-family: arial, sans-serif, helvetica; font-size: 12px;line-height: 12px;font-weight:normal;color:#656565;text-align:center;margin:0;">
                                                9 Feb 15 to 31 Dec 15
                                             </td>

                                             <td width="35%" align="right" style="font-size:24px;font-family:arial;color:#F58227;">
                                                <table width="100%" align="left" border="0" cellpadding="0" cellspacing="0">
                                                   <tbody>
                                                      <tr>
                                                         <td align="right">
                                                            <a href="#" style="text-decoration:none;color:#F58227 font-size:24px;font-family:arial;color:#F58227;">
                                                               <sup style="font-size:14px;">$</sup><span style="font-size:24px;">1009</span><sup style="font-size:14px;">*</sup>
                                                            </a>
                                                         </td>   
                                                      </tr>

                                                      <tr>
                                                         <td align="right">
                                                            <span valign="top" style="vertical-align:top; font-size:12px;font-family:arial;color:#A2A2A2;">EX MEL</span>
                                                         </td>   
                                                      </tr>
                                                   </tbody>
                                                </table>
                                             </td>

                                          </tr>
                                       </tbody>
                                    </table>
                                    
                                 </td>
                              </tr>

                              
                              <tr>
                                 <td width="100%" height="10"></td>
                              </tr>
                              

                              <tr>
                                 <td>
                                    <table width="100%" align="left" border="0" cellpadding="0" cellspacing="0">
                                       <tbody>
                                          <tr>
                                             <td width="30%" align="left" style="font-family: arial, sans-serif, helvetica; font-size: 11px;line-height: 11px;font-weight:normal;color:#a1a1a1;text-align:left;margin:0;">
                                                <img width="30" height="20" src="<%= baseUrl %>icon-carrier-etihad.png" />
                                             </td>

                                             <td width="35%" align="center" style="font-family: arial, sans-serif, helvetica; font-size: 12px;line-height: 12px;font-weight:normal;color:#656565;text-align:center;margin:0;">
                                                9 Feb 15 to 31 Dec 15
                                             </td>

                                             <td width="35%" align="right" style="font-size:24px;font-family:arial;color:#F58227;">
                                                <table width="100%" align="left" border="0" cellpadding="0" cellspacing="0">
                                                   <tbody>
                                                      <tr>
                                                         <td align="right">
                                                            <a href="#" style="text-decoration:none;color:#F58227 font-size:24px;font-family:arial;color:#F58227;">
                                                               <sup style="font-size:14px;">$</sup><span style="font-size:24px;">895</span><sup style="font-size:14px;">*</sup>
                                                            </a>
                                                         </td>   
                                                      </tr>

                                                      <tr>
                                                         <td align="right">
                                                            <span valign="top" style="vertical-align:top; font-size:12px;font-family:arial;color:#A2A2A2;">EX MEL</span>
                                                         </td>   
                                                      </tr>
                                                   </tbody>
                                                </table>
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                    
                                 </td>
                              </tr>

                              

                           </tbody>
                        </table>
                     </td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
   </tbody>
</table>