<table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0">
 <tbody>
    <tr>
      <td>
         <table width="500" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
           <tbody>
             <!-- Spacing -->
             <tr>
                <td width="100%" height="20"></td>
             </tr>
             <!-- Spacing -->
             <tr>
               <td>
                 <table width="100%" cellpadding="0" cellspacing="0" border="0" align="left" class="devicewidth">
                   <tbody>
                     <tr>
                       <td valign="top">
                         <img src="<%= baseUrl %>customer-service.png" alt="" border="0" width="30" height="30" style="border:none; outline:none; text-decoration:none;">
                         &nbsp;&nbsp;&nbsp;&nbsp;
                       </td>
                       <td  align="left" valign="top" style="font-family: arial, sans-serif, helvetica; font-size: 18px;color: #656565">
                         Need help? <a href="#" style="color: #00BBE3">Read our FAQs</a> or contact customer service on 1800 198455
                       </td>
                     </tr>
                   </tbody>
                 </table>
               </td>
             </tr>
             <!-- Spacing -->
             <tr>
                <td width="100%" height="5"></td>
             </tr>
             <!-- Spacing -->
             <tr>
              <td>
                <table bgcolor="#00BBE3" width="100%" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                  <tbody>
                    <tr>
                     <td align="center" style="font-family: arial, sans-serif, helvetica; font-size: 11px;" height="50">
                      &nbsp;&nbsp;
                      <a target="_blank" href="#" style="color: #ffffff;text-decoration: none;">HOTELS</a>
                      &nbsp;&nbsp;
                      <a target="_blank" href="#" style="color: #ffffff;text-decoration: none;">FLIGHTS</a>
                      &nbsp;&nbsp;
                      <a target="_blank" href="#" style="color: #ffffff;text-decoration: none;">ACTIVITIES</a>
                      &nbsp;&nbsp;
                      <a target="_blank" href="#" style="color: #ffffff;text-decoration: none;">DEALS</a>
                      &nbsp;&nbsp;
                      <a target="_blank" href="#" style="color: #ffffff;text-decoration: none;">CRUISES</a>
                      &nbsp;&nbsp;
                     </td>
                    </tr>
                  </tbody>
                </table>
              </td>
             </tr>
             <!-- Spacing -->
             <tr>
                <td width="100%" height="2"></td>
             </tr>
             <!-- Spacing -->
             <tr>
               <td align="center" height="55" bgcolor="#F1F1F1">
                 <h1 style="font-family: arial, sans-serif, helvetica; font-size: 18px;line-height: 18px;font-weight:bold;color:#00BBE3;margin:0;">
                   helloworld
                 </h1>
               </td>
             </tr>
             <tr>
               <td>
                 <table bgcolor="#F1F1F1" width="100%" cellpadding="0" cellspacing="0" border="0" align="left" class="devicewidth">
                   <tbody>
                     <tr>
                       <td>
                         <table width="245" cellpadding="0" cellspacing="0" border="0" align="left" class="devicewidth">
                           <tbody>
                             <tr>
                               <td>
                                 <table width="230" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                                   <tbody>
                                     <tr>
                                       <td align="center" style="font-family: arial, sans-serif, helvetica; font-size: 12px;line-height: 12px;color:#656565;" height="40">Customer Service</td>
                                     </tr>
                                     <tr>
                                       <td width="100%" height="1" bgcolor="#cccccc" style="font-size: 0%;">
                                         <img border="0" width="100%" height="1" src="<%= baseUrl %>spacer-1.gif" style="display: block; font-size: 0%;">
                                       </td>
                                     </tr>
                                     <tr>
                                       <td align="center" style="font-family: arial, sans-serif, helvetica; font-size: 12px;line-height: 12px;color:#656565;" height="40">Privacy Policy</td>
                                     </tr>
                                     <tr>
                                       <td width="100%" height="1" bgcolor="#cccccc" style="font-size: 0%;">
                                         <img border="0" width="100%" height="1" src="<%= baseUrl %>spacer-1.gif" style="display: block; font-size: 0%;">
                                       </td>
                                     </tr>
                                   </tbody>
                                 </table>
                               </td>
                             </tr>
                           </tbody>
                         </table>
                         <table width="245" cellpadding="0" cellspacing="0" border="0" align="right" class="devicewidth">
                           <tbody>
                             <tr>
                               <td>
                                 <table width="230" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                                   <tbody>
                                     <tr>
                                       <td align="center" style="font-family: arial, sans-serif, helvetica; font-size: 12px;line-height: 12px;color:#656565;" height="40">Your helloworld Store</td>
                                     </tr>
                                     <tr>
                                       <td width="100%" height="1" bgcolor="#cccccc" style="font-size: 0%;">
                                         <img border="0" width="100%" height="1" src="<%= baseUrl %>spacer-1.gif" style="display: block; font-size: 0%;">
                                       </td>
                                     </tr>
                                     <tr>
                                       <td align="center" style="font-family: arial, sans-serif, helvetica; font-size: 12px;line-height: 12px;color:#656565;" height="40">1800 198 455</td>
                                     </tr>
                                     <tr>
                                       <td width="100%" height="1" bgcolor="#cccccc" style="font-size: 0%;">
                                         <img border="0" width="100%" height="1" src="<%= baseUrl %>spacer-1.gif" style="display: block; font-size: 0%;">
                                       </td>
                                     </tr>
                                   </tbody>
                                 </table>
                               </td>
                             </tr>
                           </tbody>
                         </table>
                       </td>
                     </tr>
                     <!-- Spacing -->
                     <tr>
                        <td width="100%" height="20"></td>
                     </tr>
                     <!-- Spacing -->
                   </tbody>
                 </table>
               </td>
             </tr>
             <tr>
              <td>
                <table width="100%" height="100" cellpadding="0" cellspacing="0" border="0" align="left" class="devicewidth">
                  <tbody>
                    <tr>
                      <td align="center" height="100">
                        <a href="#">
                           <img src="<%= baseUrl %>facebook-icon.png" alt="" border="0" width="50" height="50" style="border:none; outline:none; text-decoration:none;">
                        </a>
                      </td>
                      <td align="center" height="100">
                        <a href="#">
                           <img src="<%= baseUrl %>instagram-icon.png" alt="" border="0" width="50" height="50" style="border:none; outline:none; text-decoration:none;">
                        </a>
                      </td>
                      <td align="center" height="100">
                        <a href="#">
                           <img src="<%= baseUrl %>twitter-icon.png" alt="" border="0" width="50" height="50" style="border:none; outline:none; text-decoration:none;">
                        </a>
                      </td>
                      <td align="center" height="100">
                        <a href="#">
                           <img src="<%= baseUrl %>googleplus-icon.png" alt="" border="0" width="50" height="50" style="border:none; outline:none; text-decoration:none;">
                        </a>
                      </td>
                      <td align="center" height="100">
                        <a href="#">
                           <img src="<%= baseUrl %>youtube-icon.png" alt="" border="0" width="50" height="50" style="border:none; outline:none; text-decoration:none;">
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
             </tr>
             <tr>
               <td width="100%" height="1" bgcolor="#cccccc" style="font-size: 0%;">
                 <img border="0" width="100%" height="1" src="<%= baseUrl %>spacer-1.gif" style="display: block; font-size: 0%;">
               </td>
             </tr>
             <!-- Spacing -->
             <tr>
                <td width="100%" height="20"></td>
             </tr>
             <!-- Spacing -->
             <tr>
               <td align="center" style="font-family: arial, sans-serif, helvetica; font-size: 12px;line-height: 12px;color:#656565;">
                 This email was sent to email@email.com by Helloworld Limited. Stella Travel Services (Australia) Pty Limited (ABN 84 003 237 296) trading as helloworld online of Level 14, 80 Pacific Highway,  North Sydney, NSW, 2060, Australia
               </td>
             </tr>
             <!-- Spacing -->
             <tr>
                <td width="100%" height="20"></td>
             </tr>
             <!-- Spacing -->
            </tbody>
          </table>
        </td>
      </tr>
  </tbody>
</table>
