<table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0">
  <tbody>
    <tr>
      <td>
        <table width="500" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
          <tbody>

            <!-- Spacing -->
            <tr>
               <td width="100%" height="20"></td>
            </tr>
            <!-- Spacing -->

            <!-- ////////////////////////////////////////////////////////Flight//////////////////////////////////////////////////////////////// -->
            <tr>
              <td>
                <h1 style="font-family: arial, sans-serif, helvetica; font-size: 28px;line-height: 28px;font-weight:normal;color:#565656;text-align:left;margin:0;">
                  Flight 1
                </h1>
                <br />
                <h2 style="font-family: arial, sans-serif, helvetica; font-size: 18px;line-height: 18px;font-weight:normal;color:#565656;text-align:left;margin:0;">
                  Wed, 23 Nov, 2016
                </h2>
              </td>
            </tr>

            <!-- Spacing -->
            <tr>
               <td width="100%" height="20"></td>
            </tr>
            <!-- Spacing -->

            <tr>
              <td>

                <table bgcolor="#ffffff" width="55" cellpadding="0" cellspacing="0" border="0" align="left">
                  <tbody>
                    <tr>
                      <td>
                        <table bgcolor="#ffffff" width="45" cellpadding="0" cellspacing="0" border="1" bordercolor="#CCCCCC" style="border-color: #CCCCCC" align="left">
                          <tbody>
                            <tr>
                              <td>
                                <img border="0" width="45" src="http://cdn.helloworld.com.au/cdn/carriersLogo/AA.gif" style="display: block; font-size: 0%;">
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <table bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" align="left">
                  <tbody>
                    <tr>
                      <td align="left" style="font-family: arial, sans-serif, helvetica;color: #565656;">
                        <span style="font-weight: bold;font-size: 15px;line-height: 15px;">
                          American Airlines
                        </span>
                        <br />
                        <span style="font-size: 12px;line-height: 12px;">
                          Economy saver
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>

              </td>
            </tr>

            <!-- Spacing -->
            <tr>
               <td width="100%" height="10"></td>
            </tr>
            <!-- Spacing -->

            <tr>
              <td>

                <table bgcolor="#ffffff" width="100%" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                  <tbody>
                    <tr>
                      <td width="30" align="left" valign="top">
                        <img border="0" width="20" src="<%= baseUrl %>economy-class.png" style="display: block; font-size: 0%;">
                      </td>
                      <td align="left" valign="top" style="font-family: arial, sans-serif, helvetica;color: #565656;">
                        <span style="font-weight: bold;font-size: 15px;line-height: 15px;">
                          Economy class
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>

              </td>
            </tr>

            <!-- Spacing -->
            <tr>
               <td width="100%" height="10"></td>
            </tr>
            <!-- Spacing -->

            <tr>
              <td>

                <table bgcolor="#ffffff" width="100%" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                  <tbody>
                    <tr>
                      <td width="30" align="left" valign="top">
                        <img border="0" width="20" src="<%= baseUrl %>baggage-include.png" style="display: block; font-size: 0%;">
                      </td>
                      <td align="left" valign="top" style="font-family: arial, sans-serif, helvetica;color: #565656;">
                        <span style="font-weight: bold;font-size: 15px;line-height: 15px;">
                          Economy class
                        </span>
                        <br />
                        <p style="font-size: 12px;line-height: 18px;">
                          Carry-on baggage allowance: 7kg
                          <br />
                          Checked baggage allowance: 1 Checked bag allowance (up to 23kg)
                        </p>
                      </td>
                    </tr>
                  </tbody>
                </table>

              </td>
            </tr>

            <!-- Spacing -->
            <tr>
               <td width="100%" height="10"></td>
            </tr>
            <!-- Spacing -->

            <tr>
              <td>

                <table bgcolor="#ffffff" width="100%" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                  <tbody>
                    <tr>
                      <td align="left" valign="middle" width="100" style="font-family: arial, sans-serif, helvetica;color: #00BCE4;">
                        <span style="font-weight: bold;font-size: 15px;line-height: 15px;">
                          Carrier rules
                        </span>
                      </td>
                      <td align="left" valign="middle">
                        <img border="0" width="14" src="<%= baseUrl %>view-icon.png" style="display: block; font-size: 0%;">
                      </td>
                    </tr>
                  </tbody>
                </table>

              </td>
            </tr>

            <!-- Spacing -->
            <tr>
               <td width="100%" height="10"></td>
            </tr>
            <!-- Spacing -->

            <tr>
              <td>

                <table bgcolor="#ffffff" width="100%" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                  <tbody>
                    <tr>
                      <td align="left" valign="middle" width="180" style="font-family: arial, sans-serif, helvetica;color: #00BCE4;">
                        <span style="font-weight: bold;font-size: 15px;line-height: 15px;">
                          Airline fees and charges
                        </span>
                      </td>
                      <td align="left" valign="middle">
                        <img border="0" width="14" src="<%= baseUrl %>view-icon.png" style="display: block; font-size: 0%;">
                      </td>
                    </tr>
                  </tbody>
                </table>

              </td>
            </tr>

            <!-- Spacing -->
            <tr>
               <td width="100%" height="20"></td>
            </tr>
            <!-- Spacing -->

            <tr>
              <td>

                <table bgcolor="#ffffff" width="100%" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                  <tbody>
                    <tr>
                      <td align="right" valign="top">
                        <span style="font-family: arial, sans-serif, helvetica;color: #565656;font-size: 15px;font-weight: bold;">
                          15:00
                        </span>
                        <br />
                        <span style="font-family: arial, sans-serif, helvetica;color: #565656;font-size: 12px;">
                          23, Nov
                          <br />
                          3hrs 10mins
                          <br />
                          2,160 km
                        </span>
                      </td>
                      <td width="25" align="center" valign="top">
                        <img border="0" width="12" src="<%= baseUrl %>circle.png" style="display: block; font-size: 0%;margin-top:2px;">
                        <img border="0" width="10" src="<%= baseUrl %>down-arrow.png" style="display: block; font-size: 0%;margin-top:2px;">
                      </td>
                      <td  align="left" valign="top">
                        <span style="font-family: arial, sans-serif, helvetica;color: #565656;font-size: 15px;font-weight: bold;">
                          Depart: Sydney, New South Wales , Australia
                        </span>
                        <br />
                        <span style="font-family: arial, sans-serif, helvetica;color: #565656;font-size: 12px;">
                          Sydney Airport (SYD) | Terminal 1 Air New Zealand 718 | Airbus A320 | Economy
                        </span>
                      </td>
                    </tr>

                  </tbody>
                </table>

              </td>
            </tr>

            <!-- Spacing -->
            <tr>
               <td width="100%" height="10"></td>
            </tr>
            <!-- Spacing -->

            <tr>
              <td>

                <table bgcolor="#ffffff" width="100%" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                  <tbody>
                    <tr>
                      <td align="right" valign="top">
                        <span style="font-family: arial, sans-serif, helvetica;color: #565656;font-size: 15px;font-weight: bold;">
                          15:00
                        </span>
                        <br />
                        <span style="font-family: arial, sans-serif, helvetica;color: #565656;font-size: 12px;">
                          23, Nov
                          <br />
                          3hrs 10mins
                          <br />
                          2,160 km
                        </span>
                      </td>
                      <td width="25" align="center" valign="top">
                        <img border="0" width="12" src="<%= baseUrl %>circle.png" style="display: block; font-size: 0%;margin-top:2px;">
                        <img border="0" width="10" src="<%= baseUrl %>down-arrow.png" style="display: block; font-size: 0%;margin-top:2px;">
                      </td>
                      <td align="left" valign="top">
                        <span style="font-family: arial, sans-serif, helvetica;color: #565656;font-size: 15px;font-weight: bold;">
                          Depart: Sydney, New South Wales , Australia
                        </span>
                        <br />
                        <span style="font-family: arial, sans-serif, helvetica;color: #565656;font-size: 12px;">
                          Sydney Airport (SYD) | Terminal 1 Air New Zealand 718 | Airbus A320 | Economy
                        </span>
                      </td>
                    </tr>

                  </tbody>
                </table>

              </td>
            </tr>

            <!-- Spacing -->
            <tr>
               <td width="100%" height="10"></td>
            </tr>
            <!-- Spacing -->

            <tr>
              <td>

                <table bgcolor="#ffffff" width="100%" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                  <tbody>
                    <tr>
                      <td align="right" valign="top">
                        <span style="font-family: arial, sans-serif, helvetica;color: #565656;font-size: 15px;font-weight: bold;">
                          15:00
                        </span>
                        <br />
                        <span style="font-family: arial, sans-serif, helvetica;color: #565656;font-size: 12px;">
                          23, Nov
                          <br />
                          3hrs 10mins
                          <br />
                          2,160 km
                        </span>
                      </td>
                      <td width="25" align="center" valign="top">
                        <img border="0" width="12" src="<%= baseUrl %>circle.png" style="display: block; font-size: 0%;margin-top:2px;">
                      </td>
                      <td align="left" valign="top">
                        <span style="font-family: arial, sans-serif, helvetica;color: #565656;font-size: 15px;font-weight: bold;">
                          Depart: Sydney, New South Wales , Australia
                        </span>
                        <br />
                        <span style="font-family: arial, sans-serif, helvetica;color: #565656;font-size: 12px;">
                          Sydney Airport (SYD) | Terminal 1 Air New Zealand 718 | Airbus A320 | Economy
                        </span>
                      </td>
                    </tr>

                  </tbody>
                </table>

              </td>
            </tr>

            <!-- Spacing -->
            <tr>
               <td width="100%" height="10"></td>
            </tr>
            <!-- Spacing -->

            <tr>
              <td width="100%" height="1" bgcolor="#cccccc" style="font-size: 0%;">
                <img border="0" width="100%" height="1" src="<%= baseUrl %>spacer-1.gif" style="display: block; font-size: 0%;">
              </td>
            </tr>

          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
