<table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" class="mob-generic-top-bottom-margin">
   <tbody>
      <tr>
         <td>
            <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
               <tbody>
                  <tr>
                     <td width="100%" height="40" class="collapse-height-10"></td>
                  </tr>
                  <!-- Spacing -->
                  <tr>
                     <td width="100%">
                        <table bgcolor="#F1F1F1" width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth">
                           <tbody>
                              <!-- Spacing -->
                              

                              <tr>
                                 <td>
                                    <table width="145" align="left" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
                                       <tbody>
                                          <!-- Spacing -->
                                          <tr>
                                             <td width="100%" height="40" class="collapse-height-10"></td>
                                          </tr>
                                          <!-- Spacing -->
                                          <tr>
                                             <td>
                                                
                                                <table width="125" align="right" border="0" cellpadding="0" cellspacing="0" class="devicewidthinner">
                                                   <tbody>
                                                      
                                                      <tr>
                                                         <td width="125" align="center" class="devicewidth">
                                                            <p style="font-family: arial, sans-serif, helvetica; font-size: 18px;color: #00BBE3; text-align: center;">Helpful Links</p>
                                                         </td>
                                                      </tr>

                                                      <!-- Spacing -->
                                                      <tr>
                                                         <td width="100%" height="20"></td>
                                                      </tr>
                                                      <!-- Spacing -->

                                                      <tr>
                                                         <td width="125" align="center" class="devicewidth">
                                                            <a href="#" style="font-family: arial, sans-serif, helvetica; font-size: 12px;color: #656565; text-align: center;">Manage account</a>
                                                         </td>
                                                      </tr>

                                                      <!-- Spacing -->
                                                      <tr>
                                                         <td width="100%" height="10"></td>
                                                      </tr>
                                                      <!-- Spacing -->

                                                      <!-- Spacing -->
                                                      <tr>
                                                         <td class="devicewidth" width="100%" height="1" bgcolor="#cccccc" style="font-size: 0%;"><img border="0" width="100%" height="1" src="<%= baseUrl %>spacer-1.gif" style="display: block; font-size: 0%;" /></td>
                                                      </tr>
                                                      <!-- Spacing -->

                                                      <!-- Spacing -->
                                                      <tr>
                                                         <td width="100%" height="10"></td>
                                                      </tr>
                                                      <!-- Spacing -->

                                                      <tr>
                                                         <td width="125" align="center" class="devicewidth">
                                                            <a href="#" style="font-family: arial, sans-serif, helvetica; font-size: 12px;color: #656565; text-align: center;">Customer Service</a>
                                                         </td>
                                                      </tr>

                                                      <!-- Spacing -->
                                                      <tr>
                                                         <td width="100%" height="10"></td>
                                                      </tr>
                                                      <!-- Spacing -->

                                                      <!-- Spacing -->
                                                      <tr>
                                                         <td class="devicewidth" width="100%" height="1" bgcolor="#cccccc" style="font-size: 0%;"><img border="0" width="100%" height="1" src="<%= baseUrl %>spacer-1.gif" style="display: block; font-size: 0%;" /></td>
                                                      </tr>
                                                      <!-- Spacing -->

                                                      <!-- Spacing -->
                                                      <tr>
                                                         <td width="100%" height="10"></td>
                                                      </tr>
                                                      <!-- Spacing -->

                                                      <tr>
                                                         <td width="125" align="center" class="devicewidth">
                                                            <a href="#" style="font-family: arial, sans-serif, helvetica; font-size: 12px;color: #656565; text-align: center;">Privacy Policy</a>
                                                         </td>
                                                      </tr>

                                                      <!-- Spacing -->
                                                      <tr>
                                                         <td width="100%" height="10"></td>
                                                      </tr>
                                                      <!-- Spacing -->

                                                      <!-- Spacing -->
                                                      <tr>
                                                         <td class="devicewidth" width="100%" height="1" bgcolor="#cccccc" style="font-size: 0%;"><img border="0" width="100%" height="1" src="<%= baseUrl %>spacer-1.gif" style="display: block; font-size: 0%;" /></td>
                                                      </tr>
                                                      <!-- Spacing -->

                                                      <!-- Spacing -->
                                                      <tr>
                                                         <td width="100%" height="10"></td>
                                                      </tr>
                                                      <!-- Spacing -->

                                                      <tr>
                                                         <td width="125" align="center" class="devicewidth">
                                                            <a href="#" style="font-family: arial, sans-serif, helvetica; font-size: 12px;color: #656565; text-align: center;">Unsubscribe</a>
                                                         </td>
                                                      </tr>

                                                      <!-- Spacing -->
                                                      <tr>
                                                         <td width="100%" height="10"></td>
                                                      </tr>
                                                      <!-- Spacing -->

                                                      <!-- Spacing -->
                                                      <tr>
                                                         <td class="devicewidth" width="100%" height="1" bgcolor="#cccccc" style="font-size: 0%;"><img border="0" width="100%" height="1" src="<%= baseUrl %>spacer-1.gif" style="display: block; font-size: 0%;" /></td>
                                                      </tr>
                                                      <!-- Spacing -->

                                                      <!-- Spacing -->
                                                      <tr>
                                                         <td width="100%" height="10"></td>
                                                      </tr>
                                                      <!-- Spacing -->
                                                      
                                                   </tbody>
                                                </table>
                                             </td>
                                          </tr>

                                          <tr>
                                             <td width="100%" height="40" class="collapse-height-10"></td>
                                          </tr>
                                          
                                       </tbody>
                                    </table>

                                    <table width="145" align="left" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
                                       <tbody>
                                          <!-- Spacing -->
                                          <tr>
                                             <td width="100%" height="40" class="collapse-height-10"></td>
                                          </tr>
                                          <!-- Spacing -->
                                          <tr>
                                             <td>
                                                
                                                <table width="125" align="right" border="0" cellpadding="0" cellspacing="0" class="devicewidthinner">
                                                   <tbody>
                                                      
                                                      <tr>
                                                         <td width="125" align="center" class="devicewidth">
                                                            <p style="font-family: arial, sans-serif, helvetica; font-size: 18px;color: #00BBE3; text-align: center;">Awarded</p>
                                                         </td>
                                                      </tr>

                                                      <!-- Spacing -->
                                                      <tr>
                                                         <td width="100%" height="20"></td>
                                                      </tr>
                                                      <!-- Spacing -->

                                                      <tr>
                                                         <td width="125" align="center" class="devicewidth">
                                                            <p style="font-family: arial, sans-serif, helvetica; font-size: 12px;color: #656565; text-align: center;">Winner, best travel Agency group 2014.</p>
                                                         </td>
                                                      </tr>

                                                      <!-- Spacing -->
                                                      <tr>
                                                         <td width="100%" height="20"></td>
                                                      </tr>
                                                      <!-- Spacing -->

                                                      <tr>
                                                         <td width="125" align="center" class="devicewidth">
                                                            <a href="#" style="font-family: arial, sans-serif, helvetica; font-size: 12px;color: #656565; text-align: center;">
                                                               <img src="<%= baseUrl %>afta-logo.png" alt="" border="0" width="58" height="83" style="border:none; outline:none; text-decoration:none;">
                                                            </a>
                                                         </td>
                                                      </tr>
                                                   </tbody>
                                                </table>
                                             </td>
                                          </tr>

                                          <tr>
                                             <td width="100%" height="40" class="collapse-height-10"></td>
                                          </tr>
                                          
                                       </tbody>
                                    </table>
 
                                    <table width="145" align="right" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
                                       <tbody>
                                          <!-- Spacing -->
                                          <tr>
                                             <td width="100%" height="40" class="collapse-height-10"></td>
                                          </tr>
                                          <!-- Spacing -->
                                          <tr>
                                             <td>
                                                
                                                <table width="125" align="left" border="0" cellpadding="0" cellspacing="0" class="devicewidthinner">
                                                   <tbody>
                                                      
                                                      <tr>
                                                         <td width="125" align="center" class="devicewidth">
                                                            <p style="font-family: arial, sans-serif, helvetica; font-size: 18px;color: #00BBE3; text-align: center;">Contact Details</p>
                                                         </td>
                                                      </tr>

                                                      <!-- Spacing -->
                                                      <tr>
                                                         <td width="100%" height="20"></td>
                                                      </tr>
                                                      <!-- Spacing -->

                                                      <tr>
                                                         <td width="125" align="center" class="devicewidth">
                                                            <a href="#" style="font-family: arial, sans-serif, helvetica; font-size: 12px;color: #656565; text-align: center;">Agent Finder</a>
                                                         </td>
                                                      </tr>

                                                      <!-- Spacing -->
                                                      <tr>
                                                         <td width="100%" height="10"></td>
                                                      </tr>
                                                      <!-- Spacing -->

                                                      <!-- Spacing -->
                                                      <tr>
                                                         <td class="devicewidth" width="100%" height="1" bgcolor="#cccccc" style="font-size: 0%;"><img border="0" width="100%" height="1" src="<%= baseUrl %>spacer-1.gif" style="display: block; font-size: 0%;" /></td>
                                                      </tr>
                                                      <!-- Spacing -->

                                                      <!-- Spacing -->
                                                      <tr>
                                                         <td width="100%" height="10"></td>
                                                      </tr>
                                                      <!-- Spacing -->

                                                      <tr>
                                                         <td width="125" align="center" class="devicewidth">
                                                            <a href="#" style="font-family: arial, sans-serif, helvetica; font-size: 12px;color: #656565; text-align: center;">1800 198 455</a>
                                                         </td>
                                                      </tr>

                                                      <!-- Spacing -->
                                                      <tr>
                                                         <td width="100%" height="10"></td>
                                                      </tr>
                                                      <!-- Spacing -->

                                                      <!-- Spacing -->
                                                      <tr>
                                                         <td class="devicewidth" width="100%" height="1" bgcolor="#cccccc" style="font-size: 0%;"><img border="0" width="100%" height="1" src="<%= baseUrl %>spacer-1.gif" style="display: block; font-size: 0%;" /></td>
                                                      </tr>
                                                      <!-- Spacing -->

                                                      <!-- Spacing -->
                                                      <tr>
                                                         <td width="100%" height="10"></td>
                                                      </tr>
                                                      <!-- Spacing -->

                                                      <tr>
                                                         <td width="125" align="center" class="devicewidth">
                                                            <a href="#" style="font-family: arial, sans-serif, helvetica; font-size: 12px;color: #656565; text-align: center;">info@helloworld.com.au</a>
                                                         </td>
                                                      </tr>

                                                      <!-- Spacing -->
                                                      <tr>
                                                         <td width="100%" height="10"></td>
                                                      </tr>
                                                      <!-- Spacing -->

                                                      <!-- Spacing -->
                                                      <tr>
                                                         <td class="devicewidth" width="100%" height="1" bgcolor="#cccccc" style="font-size: 0%;"><img border="0" width="100%" height="1" src="<%= baseUrl %>spacer-1.gif" style="display: block; font-size: 0%;" /></td>
                                                      </tr>
                                                      <!-- Spacing -->

                                                      <!-- Spacing -->
                                                      <tr>
                                                         <td width="100%" height="10"></td>
                                                      </tr>
                                                      <!-- Spacing -->

                                                      <tr>
                                                         <td width="125" align="center" class="devicewidth">
                                                            <a href="#" style="font-family: arial, sans-serif, helvetica; font-size: 12px;color: #656565; text-align: center;">helloworld.com.au</a>
                                                         </td>
                                                      </tr>

                                                      <!-- Spacing -->
                                                      <tr>
                                                         <td width="100%" height="10"></td>
                                                      </tr>
                                                      <!-- Spacing -->

                                                      <!-- Spacing -->
                                                      <tr>
                                                         <td class="devicewidth" width="100%" height="1" bgcolor="#cccccc" style="font-size: 0%;"><img border="0" width="100%" height="1" src="<%= baseUrl %>spacer-1.gif" style="display: block; font-size: 0%;" /></td>
                                                      </tr>
                                                      <!-- Spacing -->

                                                      <!-- Spacing -->
                                                      <tr>
                                                         <td width="100%" height="10"></td>
                                                      </tr>
                                                      <!-- Spacing -->
                                                      
                                                   </tbody>
                                                </table>
                                             </td>
                                          </tr>

                                          <tr>
                                             <td width="100%" height="40" class="collapse-height-10"></td>
                                          </tr>
                                          
                                       </tbody>
                                    </table>

                                    <table width="145" align="right" border="0" cellpadding="0" cellspacing="0" class="devicewidth">
                                       <tbody>
                                          <!-- Spacing -->
                                          <tr>
                                             <td width="100%" height="40" class="collapse-height-10"></td>
                                          </tr>
                                          <!-- Spacing -->
                                          <tr>
                                             <td>
                                                
                                                <table width="125" align="left" border="0" cellpadding="0" cellspacing="0" class="devicewidthinner">
                                                   <tbody>
                                                      
                                                      <tr>
                                                         <td width="125" align="center" class="devicewidth">
                                                            <p style="font-family: arial, sans-serif, helvetica; font-size: 18px;color: #00BBE3; text-align: center;">Free App</p>
                                                         </td>
                                                      </tr>

                                                      <!-- Spacing -->
                                                      <tr>
                                                         <td width="100%" height="20"></td>
                                                      </tr>
                                                      <!-- Spacing -->

                                                      <tr>
                                                         <td width="125" align="center" class="devicewidth">
                                                            <p style="font-family: arial, sans-serif, helvetica; font-size: 12px;color: #656565; text-align: center;">Download our free app for up to 75% off hotels.</p>
                                                         </td>
                                                      </tr>

                                                      <!-- Spacing -->
                                                      <tr>
                                                         <td width="100%" height="20"></td>
                                                      </tr>
                                                      <!-- Spacing -->

                                                      <tr>
                                                         <td width="125" align="center" class="devicewidth">
                                                            <a href="#" style="font-family: arial, sans-serif, helvetica; font-size: 12px;color: #656565; text-align: center;">
                                                               <img src="<%= baseUrl %>icon-ios.png" alt="" border="0" width="115" height="34" style="border:none; outline:none; text-decoration:none;">
                                                            </a>
                                                         </td>
                                                      </tr>

                                                      <!-- Spacing -->
                                                      <tr>
                                                         <td width="100%" height="10"></td>
                                                      </tr>
                                                      <!-- Spacing -->

                                                      <tr>
                                                         <td width="125" align="center" class="devicewidth">
                                                            <a href="#" style="font-family: arial, sans-serif, helvetica; font-size: 12px;color: #656565; text-align: center;">
                                                               <img src="<%= baseUrl %>icon-android.png" alt="" border="0" width="115" height="40" style="border:none; outline:none; text-decoration:none;">
                                                            </a>
                                                         </td>
                                                      </tr>
                                                   </tbody>
                                                </table>
                                             </td>
                                          </tr>

                                          <tr>
                                             <td width="100%" height="40" class="collapse-height-10"></td>
                                          </tr>
                                          
                                       </tbody>
                                    </table>
                                    
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
   </tbody>
</table>
